body {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 90vh;
  padding: 40px 300px;
  font-family: 'Kanit', sans-serif;
  background-color: var(--bg-color);
  transition-duration: var(--transition-duration);
  color: var(--text-color);
}

input,
label,
button {
  transition-duration: var(--transition-duration);
}