:root {
  --color-white: #F7F7F7;
  --color-black: #252525;

  --color-purple-1: #6C63FF;
  --color-purple-2: #5850DD;

  --color-grey: #CDCDCD;
  --color-red: #E50000;

  --border-radius: 5px;
  --input-height: 38px;

  --transition-duration: 0.2s;
}