:root {
  --color-white: #F7F7F7;
  --color-black: #252525;

  --color-purple-1: #6C63FF;
  --color-purple-2: #5850DD;
  --color-purple-3: #534CC2;
  
  --color-grey-1: #CDCDCD;
  --color-grey-2: #C3C1E5;

  --color-red: #E50000;

  --border-radius: 5px;

  --transition-duration: 0.2s;
}