.todo-item {
  display: flex;
  align-items: center;
  column-gap: 17px;
  width: 545px;
  height: 23px;

  padding-block: 17px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid var(--color-purple-1);
    transition: opacity 0.1s;
  }

  &:last-child::after {
    border-bottom: none;
  }

  &:hover &__buttons {
    opacity: 1;
  }

  &__buttons {
    margin-left: auto;
    display: flex;
    gap: 10px;
    opacity: 0;
    transition-duration: var(--transition-duration);
  }

  &__label {
    flex: 1;
    font-size: 18px;
    font-weight: 600;
    user-select: none;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  &__checkbox {
    flex-shrink: 0;
    appearance: none;
    position: relative;
    width: 26px;
    height: 26px;
    margin: 0;
    border: 1px solid var(--color-purple-1);
    border-radius: 2px;

    &::after {
      content: "";
      position: absolute;
      top: 45%;
      left: 50%;
      translate: -50% -50%;
      width: 14px;
      height: 14px;
      background: url("../../img/check.svg") center/contain no-repeat;
    }

    &:not(:checked) {
      &::after {
        opacity: 0;
      }
    }

    &:checked {
      background-color: var(--color-purple-1);

      & + .todo-item__label {
        color: var(--text-color-alpha);
        text-decoration: line-through;
      }
    }
  }

  &.is-disappearing {
    opacity: 0;
    translate: -40% 0;
    transition-duration: calc(var(--transition-duration) * 2);
    pointer-events: none;

    &::after {
      opacity: 0;
      transition: none;
    }

    & ~ .todo-item {
      translate: 0 calc(100% * -1);
      transition-delay: var(--transition-duration);
      transition-duration: var(--transition-duration);
      pointer-events: none;
    }
  }
}
